<!doctype html>
<html>
	<head>
		<style>
			h1{text-align: left;}
            div{text-align: left;}
		</style>
	</head>
	<body style="background-color:	#FFFFE0	;">
		
		
		<h1>Niranjana Subramanian</h1>
		<h1>46305</h1>
		
		 <br><br>
		 <div>
		 <img style="height: 550px"  src="static/z.jpg" ><br><br>
		</div>
		<div class='container'>
			<a href="/all">click here to see all the people</a><br><br>
			<a href="/search">click here to Search with the name</a><br><br>
			<a href="/range">click here to Search with range</a><br><br>
			<a href="/delete">click here to delete with name</a><br><br>
			<a href="/update">click here to update with name</a><br><br>
			<a href="/newrecord">click here to add record</a><br><br>
		</div>
		
	
</html>